// mobile version
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    margin: 10px 10px;
}

.form-group {
    margin-top: 10px;
}

.form-group:nth-child(5) {
    margin-top: 15px;
}

#img-logo {
    width: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6px 0;

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        text-decoration: underline;
    }

}

#labelshowhide {
    font-size: 15px;
}



@media (min-width: 990px) {

    // large screens version

    main {
        margin: 10px 50px;
    }

    .form-group:nth-child(5) {
        margin-top: 20px;
    }

    .form-group {
        margin-top: 10px;

        label,
        input {
            font-size: 1.1rem;
        }

        #labelshowhide {
            font-size: 1rem;
        }

        #showhide {
            transform: scale(1);
            margin: 0 5px 0 5px;
        }

    }


    #img-logo {
        width: 150px;
    }

    #login-btn {
        font-size: 1rem;
        padding-left: 20px;
        padding-right: 20px;
    }

}